.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 0.5rem;
    line-height: 0.05;
    padding-left: .15em;
    padding-right: .15em;
    }
    .card-registration .select-arrow {
    top: 0px;
    }
    h1,.form-label,.select,h6,.form-check-label{
        font-family: 'Dancing Script', cursive;
    }
    h1{
        text-shadow: 2px 2px 5px rgb(0, 68, 0);
    }